MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.n2yms9c.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=compliance_kg
WHISPER_MODEL_SIZE=base

# Neo4j Graph Database (AuraDB)
NEO4J_URI=neo4j+s://15acea53.databases.neo4j.io
NEO4J_USER=15acea53
NEO4J_PASSWORD=7VDJ2kganZbkQg3JhD0bZNEDUtsT8vwh2bbTb0muouA

# Weaviate Vector Database (WCD)
WEAVIATE_URL=https://ilddvazhqni81ojomazaaw.c0.eu-central-1.aws.weaviate.cloud
WEAVIATE_API_KEY=M1crLzd1cjlLenNISmo4Tl83blA2ZkhEL2phMXkxOXZvVUpNcU5iWGNKUlU4d0xkVWVhM2tRRXFuL2pvPV92MjAw
